{% extends 'base.html' %}
{% block content %}
<h2><i class="fas fa-mobile-alt"></i> MFA Setup</h2>
{% if mfa_enabled %}
<div class="alert alert-success">MFA is enabled</div>
<form method="post">{% csrf_token %}<button name="disable_mfa" class="btn btn-danger">Disable MFA</button></form>
{% else %}
{% if qr_code %}
<div class="text-center"><img src="data:image/png;base64,{{ qr_code }}" class="img-fluid"></div>
<form method="post">{% csrf_token %}
<input type="text" name="otp_token" class="form-control my-3" placeholder="000000" maxlength="6">
<button name="confirm_mfa" class="btn btn-success">Confirm</button>
</form>
{% else %}
<form method="post">{% csrf_token %}<button name="enable_mfa" class="btn btn-primary">Enable MFA</button></form>
{% endif %}
{% endif %}
{% endblock %}